<form class="w3-row">
  <div class="w3-col l6">
    <!-- First Name -->
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="First Name" [formControl]="firstNameControl" [errorStateMatcher]="ematcher" [(ngModel)]="teacher.firstName"
          required>
        <mat-error *ngIf="firstNameControl.hasError('firstName') && !firstNameControl.hasError('required')">
          Please enter first name
        </mat-error>
        <mat-error *ngIf="firstNameControl.hasError('required')">
          First name is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Middle Name -->
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="Middle Name" [formControl]="middleNameControl" [errorStateMatcher]="ematcher" [(ngModel)]="teacher.middleName"
          required>
        <mat-error *ngIf="middleNameControl.hasError('middleName') && !middleNameControl.hasError('required')">
          Please enter middle name
        </mat-error>
        <mat-error *ngIf="middleNameControl.hasError('required')">
          Middle name is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Last Name -->
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="Last Name" [formControl]="lastNameControl" [errorStateMatcher]="ematcher" [(ngModel)]="teacher.lastName"
          required>
        <mat-error *ngIf="lastNameControl.hasError('lastName') && !lastNameControl.hasError('required')">
          Please enter last name
        </mat-error>
        <mat-error *ngIf="lastNameControl.hasError('required')">
          Last name is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Title -->
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="Title" [formControl]="titleControl" [errorStateMatcher]="ematcher" [(ngModel)]="teacher.title"
          required>
        <mat-error *ngIf="titleControl.hasError('title') && !titleControl.hasError('required')">
          Please enter title
        </mat-error>
        <mat-error *ngIf="titleControl.hasError('required')">
          Title is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Department -->
    <div class="container">
      <mat-form-field>
        <mat-select placeholder="Select Department" [(value)]="teacher.department" [formControl]="departmentControl" required>
          <mat-option *ngFor="let department of departments" [value]="department">
            {{department.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="departmentControl.hasError('department') && !departmentControl.hasError('required')">
          Please select department
        </mat-error>
        <mat-error *ngIf="departmentControl.hasError('required')">
          Department is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Address 1 -->
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="Address 1" [formControl]="address1Control" [errorStateMatcher]="ematcher" [(ngModel)]="teacher.address.address1"
          required>
        <mat-error *ngIf="address1Control.hasError('address1') && !address1Control.hasError('required')">
          Please enter address 1
        </mat-error>
        <mat-error *ngIf="address1Control.hasError('required')">
          Address 1 is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Address 2 -->
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="Address 2" [formControl]="address2Control" [errorStateMatcher]="ematcher" [(ngModel)]="teacher.address.address2"
          required>
        <mat-error *ngIf="address2Control.hasError('address1') && !address2Control.hasError('required')">
          Please enter address 2
        </mat-error>
        <mat-error *ngIf="address2Control.hasError('required')">
          Address 2 is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Zip Code -->
    <div class="container">
      <mat-form-field>
        <input matInput type="number" placeholder="Zip Code" [formControl]="zipCodeControl" [errorStateMatcher]="ematcher" [(ngModel)]="teacher.address.zipCode"
          required>
        <mat-error *ngIf="zipCodeControl.hasError('zipCode') && !zipCodeControl.hasError('required')">
          Please enter zip code
        </mat-error>
        <mat-error *ngIf="zipCodeControl.hasError('required')">
          Zip code is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Telephone Number -->
    <div class="container">
      <mat-form-field>
        <input matInput type="tel" placeholder="Phone Number" [formControl]="telephoneControl" [errorStateMatcher]="ematcher" [(ngModel)]="teacher.phoneNumber"
          required>
        <mat-error *ngIf="telephoneControl.hasError('telephone') && !telephoneControl.hasError('required')">
          Please enter phone number
        </mat-error>
        <mat-error *ngIf="telephoneControl.hasError('required')">
          Phone number is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Date Of Birth -->
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="Date Of Birth" [formControl]="dobControl" [errorStateMatcher]="ematcher" [(ngModel)]="teacher.dateOfBirth"
          required>
        <mat-error *ngIf="dobControl.hasError('dateOfBirth') && !dobControl.hasError('required')">
          Please enter date of birth
        </mat-error>
        <mat-error *ngIf="dobControl.hasError('required')">
          Date of birth is
          <strong>required</strong>
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- Button -->
    <div class="container">
      <div class="float-right">
        <button class="float-right-btn" mat-raised-button color="primary" (click)="addTeacher()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</form>