<configuration>
<system.webServer>
  <rewrite>
    <rules>
     <rule name="AngularJS Routes" stopProcessing="true">
      <match url=".*" />
      <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
      </conditions>
      <action type="Rewrite" url="/" />
    </rule>
    <!--<rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="api/(.*)" />
                    <action type="Rewrite" url="http://bestuniversityapi.azurewebsites.net/api/{R:1}" logRewrittenUrl="true" />
                    <conditions>
                    </conditions>
      </rule>-->
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/src/" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>