/* .example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
} */

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar-container {
  width: 100%;
}

.toolbar-content {
  width: 90%;
  padding-left: 2%;
  padding-top: 15px;
  padding-bottom: 45px; /* for buttons */
}