<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Find Student</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="toolbar-container">
    <div class="toolbar-content">
      <app-student-search></app-student-search>
    </div>
</div>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Add Student</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="toolbar-container">
  <div class="toolbar-content">
    <app-student-input></app-student-input>
  </div>
</div>