<div *ngIf="student">
    <mat-card class="student-card">
        <mat-card-header>
            <mat-card-title>{{student.firstName}} {{student.middleName.charAt(0)}}. {{student.lastName}}</mat-card-title>
            <mat-card-subtitle>Student ID: {{student.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div><span><b>Email: </b></span>{{student.email}}</div>
            <div><span><b>Enrollment Date: </b></span>{{student.enrollmentDate | date}}</div>
            <div><span><b>Enrollment Status: </b></span>{{student.enrollmentStatus}}</div>
            <div><span><b>Date Of Birth: </b></span>{{student.dateOfBirth | date}}</div>
            <div><span><b>Address: </b></span>{{student.address.address1}}</div>
            <div><span style="white-space:pre">                 {{student.address.address2}} {{student.address.zipCode}}</span></div>
            <div><span><b>Phone: </b></span>{{student.phoneNumber}}</div>
        </mat-card-content>
    </mat-card>
    <div class="w3-row close-btn-wrapper">
        <button mat-button class="float-right" (click)="close()">Close</button>    
    </div>
</div>