.mat-icon svg {
    height: 64px;
    width: 64px;
}

.stat-row {
    padding: 20px;
}

.stat-card {
    max-width: 400px;
}

.refresh-btn {
    margin-right: 30px;
}

.dashboard-graph{
    height: 425px;
}
.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}